@import "../global/variables.scss";

.main-promo__slider {
  position: relative;
  height: 656px;
}

.main-promo__slide-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-promo__slide-item {
  margin: 0;
  padding: 0;
}

.main-promo__pagination {
  display: none;
}


@media (min-width: $tablet-width) {
  .main-promo__slider {
    height: 828px;
  }

  .main-promo__button {
    height: 640px;

    &--prev {
      left: 0;
      transform: translateX(0);
    }

    &--next {
      right: 0;
      transform: rotate(180deg) translateX(0);
    }
  }
}

@media (min-width: $desktop-width) {
  .main-promo__slider {
    position: relative;
    height: 714px;
  }

  .main-promo__button {
    height: 100%;
  }

  .main-promo__pagination {
    display: block;
  }
}
