@import "../global/variables.scss";

.pagination {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pagination__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 40px;
  min-width: 40px;
  padding: 8px;
  background-color: $base-white;
  border-radius: 4px;
  color: $primary;
  text-decoration: none;

  &--current {
    pointer-events: none;
    background-color: transparent;
    color: $base-black;
    font-weight: 600;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &:disabled {
    background-color: $light-gray;
    color: $base-white;
  }
}

.pagination__icon {
  &--next {
    transform: rotate(180deg);
  }
}

.pagination__link-text {
  display: none;
}

.pagination__inner-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__inner-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .pagination__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .pagination__link {
    &--prev {
      min-width: 91px;
      padding: 8px 20px;
    }

    &--next {
      min-width: 91px;
      padding: 8px 20px;
    }
  }

  .pagination__icon {
    display: none;
  }

  .pagination__link-text {
    display: block;
    font-size: 16px;
    line-height: 24px;
  }
}
