@import "../global/variables.scss";

.range-slider {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 24px;
}

.range-slider__track {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: $light-gray;
}

.range-slider__slider {
  position: absolute;
  top: 50%;
  display: block;
  left: 0;
  right: 10%;
  max-width: 100%;
  height: 4px;
  background-color: $primary-lighter;

  transform: translateY(-50%);
}

.range-slider__handle {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
  background-color: $base-white;
  border: 2px solid $primary-lighter;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &--max {
    right: 9%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus {
    outline: none;

    &::after {
      display: block;
      background-color: $transparent-primary;
    }
  }

  &:active {
    border-color: $primary;

    &::after {
      display: block;
      background-color: $primary;
    }
  }
}

@media (min-width: $tablet-width) {
  .range-slider {
    width: 220px;
    transform: translateY(-2px);
  }
}

@media (min-width: $desktop-width) {
  .range-slider {
    width: 100%;
    padding: 0;
  }

  .range-slider__handle {
    &--max {
      right: 20px;
    }
  }
}
