@import "../global/variables.scss";

.styled-select {
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  &--closed {
    display: none;
  }

  &--open {
    display: flex;
  }
}

.styled-select__option {
  display: block;
  padding: 8px 10px 8px 20px;
  box-sizing: border-box;
  font-family: $Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: $base-black;
  background-color: $base-white;
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid $secondary;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &:hover,
  &:focus {
    background-color: $secondary;
    color: $base-black;
  }

  &--selected {
    background-color: $primary;
    color: $base-white;
  }
}
