@import "../global/variables.scss";

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 80px;
  height: 100%;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  color: $primary;
  cursor: pointer;

  &::before,
  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    background: linear-gradient(90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled,
  &--disabled {
    background: transparent;
    color: $base-gray;
    pointer-events: none;
  }
}

.swiper-button-prev {
  left: 0;
  transform: translateX(-40%);
}

.swiper-button-next {
  right: 0;
  transform: rotate(180deg) translateX(-40%);
}


@media (min-width: $tablet-width) {
  .swiper-button-next,
  .swiper-button-prev {
    height: 640px;
  }

  .swiper-button-prev {
    left: 0;
    transform: translateX(0);
  }

  .swiper-button-next {
    right: 0;
    transform: rotate(180deg) translateX(0);
  }
}

@media (min-width: $desktop-width) {
  .swiper-button-next,
  .swiper-button-prev {
    height: 100%;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    bottom: 65px;
  }

  .swiper-pagination-bullet {
    width: 62px;
    height: 4px;
    border-radius: 0;
    background-color: $base-white;
    opacity: 1;

    &-active {
      background-color: $primary;
    }
  }
}
