@import "../global/variables.scss";

.user-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-nav__link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-black;

  &:hover,
  &:active,
  &:focus {
    background-color: $secondary;
    outline: none;
  }
}

.user-nav__text {
  display: none;
  margin: 0;
  margin-left: 8px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .user-nav__link {
    padding: 32px 22px;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      outline: none;
      color: $primary;
    }

    &:active {
      background-color: $secondary;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-nav__item {
    padding: 0;
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }

  .user-nav__text {
    display: block;
  }
}
