// fonts
$Montserrat: "Montserrat", "Arial", sans-serif;

// colors
$base-white: #ffffff;
$base-gray: #bdbdbd;
$base-black: #333333;
$primary: #7859cf;
$secondary: #f0ebff;

$transparent-primary: rgba(120, 89, 207, 0.25);
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-gray: #e2e2e2;

$lightest-gray: #f8f8f8;
$flat-white: #f3ebe1;
$lavander: #eae6fc;
$espresso: #e5e6e8;

// viewports

$mobile-width: 320px;
$tablet-width: 768px;
$max-mobile-width: 767px;
$desktop-width: 1440px;
