/* GLOBAL */
@import "global/variables.scss";
@import "global/global.scss";
@import "global/fonts.scss";

/* BLOCKS */
@import "blocks/visually-hidden.scss";
@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/main-nav.scss";
@import "blocks/user-nav.scss";
@import "blocks/main-promo.scss";
@import "blocks/button.scss";
@import "blocks/promo-card.scss";
@import "blocks/main-section.scss";
@import "blocks/advantages.scss";
@import "blocks/catalog.scss";
@import "blocks/filters.scss";
@import "blocks/range-slider.scss";
@import "blocks/radio-control.scss";
@import "blocks/checkbox-control.scss";
@import "blocks/styled-select.scss";
@import "blocks/catalog-card.scss";
@import "blocks/pagination.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
@import "blocks/swiper.scss";
